{% load static %}
<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'study/css/style.css' %}" />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <header>
            <h1 class="title">jQuery example</h1>
        </header>
        <main>
            <p>안뇽</p>
            <p>그리고</p>
            <p>바이바이</p>
        </main>
        <footer></footer>
    </body>
</html>